{
  "printWidth": 80,
  "bracketSameLine": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.test.{js,jsx,ts,tsx}",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
